<!-- @format -->

<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./particle/head') %>
    <script src="../index.js"></script>
  </head>
  <body>
    hi

    <header><%- include('./particle/header')%></header>
    <main>
      <h1>ejs for문 써보기!</h1>
      <%for(let i=0; i<5; i++){%>
      <h3>5시간동안 작성한게 날라갔어요,,화가<%=i+1%>번 나요..</h3>
      <%}%>

      <h2>LOOP!!</h2>

      <ul>
        <%for(let i=0; i<7;i++){%>
        <li><img src="../static/pooh<%=i+1%>.png" alt="이미지" /></li>
        <%}%>
      </ul>
    </main>
    <footer><%- include('./particle/footer')%></footer>
  </body>
</html>
